<?xml version="1.0" encoding="utf-8" ?>
<Menu>
  <MenuItems SurveyID="0">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item NavigateUrl="" Text="Administration">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
  <MenuItems SurveyID="1">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey1/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey1/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey1/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey1/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey1/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey1/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey1/Design/Initialize.aspx" />
      </Item>
    </Item>

    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey1/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey1/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey1/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey1/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey1/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey1/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey1/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey1/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Refresh Data" NavigateUrl="~/Workflow/Survey1/Analysis/RefreshData.aspx" />
      <Item Text="Industry" NavigateUrl="~/Workflow/Survey1/Analysis/Industry.aspx" />
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="">
        <Item Text="ft001n0" NavigateUrl="~/Workflow/Survey1/Reporting/ft001n0.aspx" />
      </Item>
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
  <MenuItems SurveyID="2">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey2/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey2/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey2/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey2/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey2/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey2/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey2/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey2/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey2/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey2/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey2/Collection/BatchProcess.aspx" />
    </Item>

    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey2/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey2/Editing/SubTotalValidate.aspx" />

      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey2/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey2/Editing/DeleteEntireWorkbook.aspx" />
    </Item>

    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Extract For Participant Report" NavigateUrl="~/Workflow/Survey2/Analysis/ExtractParticRpt.aspx" />
      <Item Text="Extract For Trend Report" NavigateUrl="~/Workflow/Survey2/Analysis/ExtractData.aspx" />
      <Item Text="Industry" NavigateUrl="~/Workflow/Survey2/Analysis/Industry.aspx" />
      <Item Text="Refresh Data" NavigateUrl="~/Workflow/Survey2/Analysis/RefreshData.aspx" />
      <Item Text="Trending" NavigateUrl="~/Workflow/Survey2/Editing/trending.aspx" />
    </Item>

    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey2/Reporting/CreateFactTables.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID="3">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey3/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey3/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey3/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey3/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey3/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey3/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey3/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey3/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey3/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey3/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey3/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey3/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey3/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey3/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey3/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Trending" NavigateUrl="~/Workflow/Survey3/Editing/trending.aspx" />
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey3/Reporting/CreateFactTables.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
  <MenuItems SurveyID="4">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey4/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey4/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey4/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey4/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey4/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey4/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey4/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey4/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey4/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey4/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey4/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey4/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey4/Editing/SubTotalValidate.aspx" />

      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey4/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey4/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Trending" NavigateUrl="~/Workflow/Survey4/Editing/trending.aspx" />
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey4/Reporting/CreateFactTables.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
  <MenuItems SurveyID="5">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey5/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey5/Design/ImportDataDictionary.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey5/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey5/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey5/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="~/Workflow/Survey5/Design/Initialize.aspx" />
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey5/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey5/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey5/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey5/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey5/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey5/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey5/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey5/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Refresh Data" NavigateUrl="~/Workflow/Survey5/Analysis/RefreshData.aspx" />
      <Item Text="Extract For Trend Report" NavigateUrl="~/Workflow/Survey5/Analysis/ExtractData.aspx" />
      <Item Text="Extract For Participant Report" NavigateUrl="~/Workflow/Survey5/Analysis/ExtractParticRpt.aspx" />
      <Item Text="Industry" NavigateUrl="~/Workflow/Survey5/Analysis/Industry.aspx" />
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey5/Reporting/CreateFactTables.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
  <MenuItems SurveyID="6">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Lookup" NavigateUrl="" >
      <Item Text="Limra Products Type" NavigateUrl="~/workflow/LPLR/Lookup/ProductTypes.aspx" />
      <Item Text="Organizations" NavigateUrl="~/workflow/LPLR/Lookup/Organization.aspx" />
      <Item Text="Survey Periods" NavigateUrl="~/workflow/LPLR/Lookup/SurveyPeriod.aspx" />
      <Item Text="Payment Multipliers" NavigateUrl="~/workflow/LPLR/Lookup/PaymentMultipliers.aspx" />
    </Item>
    <Item Text="Reports" NavigateUrl="" >
      <Item Text="Compass / SSAS Reconciliation" NavigateUrl="~/workflow/LPLR/Reports/SSASReconciliation.aspx" />
    </Item>

    <Item Text="Logs" NavigateUrl="" >
      <Item Text="Process Logs" NavigateUrl="~/workflow/LPLR/Logs/ProcessLog.aspx" />
      <Item Text="Error Logs" NavigateUrl="~/workflow/LPLR/Logs/ProcessLogError.aspx" />
      <Item Text="Log History" NavigateUrl="~/workflow/LPLR/Logs/ProcessLogHistory.aspx" />
    </Item>
    <Item Text="File" NavigateUrl="" />
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID="7">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey7/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey7/Design/Importflayout.aspx" />
      </Item>
      <!--<Item Text="Forms" NavigateUrl="~/Workflow/Survey7/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey7/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey7/Design/Status.aspx" />-->
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey10/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey7/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey7/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey7/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey7/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey7/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey7/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey7/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey7/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Extract for Net Flows - Quarterly" NavigateUrl="~/Workflow/Survey7/Analysis/NetFlowsExtractQuarterly.aspx" />
      <Item Text="Extract for Net Flows - All" NavigateUrl="~/Workflow/Survey7/Analysis/NetFlowsExtractAll.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID="8">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey8/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey8/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey8/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey8/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey8/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey8/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey8/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey8/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey8/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey8/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey8/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey8/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey8/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey8/Editing/DeleteEntireWorkbook.aspx" />-->
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID ="9">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Distributor" NavigateUrl="~/workflow/Distributor2012/Distributor.aspx"/>
    <Item Text="Channel" NavigateUrl="~/workflow/Distributor2012/Channel.aspx" />
    <Item Text="Carrier Affiliation" NavigateUrl="~/workflow/Distributor2012/CarrierAffiliation.aspx" />
    <Item Text="Firm Affiliation" NavigateUrl="~/workflow/Distributor2012/FirmAffiliation.aspx" />
    <Item Text="Channel Groups" NavigateUrl="~/workflow/Distributor2012/ChannelGropus.aspx" />
    <Item Text="ProductFocus" NavigateUrl="~/workflow/Distributor2012/ProductFocus.aspx" />
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID="10">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey10/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey10/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey10/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey10/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey10/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey10/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey10/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey10/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey10/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey10/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey10/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey10/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey10/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey10/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID="11">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey11/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey11/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey11/Design/Importflayout.aspx" />
      </Item>
      <!--Item Text="Forms" NavigateUrl="~/Workflow/Survey11/Design/Forms.aspx" >-->
      <!--Item Text="Items" NavigateUrl="~/Workflow/Survey11/Design/Items.aspx">-->
      <!--Item Text="Status" NavigateUrl="~/Workflow/Survey11/Design/Status.aspx">-->
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey11/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey11/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey11/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey11/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey11/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey11/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey11/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey11/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey11/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <!--Item Text="Trending" NavigateUrl="~/Workflow/Survey11/Editing/trending.aspx">-->
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <!--Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey11/Reporting/CreateFactTables.aspx">-->
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID="13">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey13/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey13/Design/Importflayout.aspx" />
      </Item>
      <!--<Item Text="Forms" NavigateUrl="~/Workflow/Survey13/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey13/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey13/Design/Status.aspx" />-->
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey13/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey13/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey13/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey13/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey13/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey13/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey13/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey13/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey13/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>

  <MenuItems SurveyID="14">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey14/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey14/Design/Importflayout.aspx" />
      </Item>
      <!--<Item Text="Forms" NavigateUrl="~/Workflow/Survey13/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey13/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey13/Design/Status.aspx" />-->
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey14/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey14/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey14/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey14/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey14/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey14/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey14/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey14/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey14/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Trending" NavigateUrl="~/Workflow/Survey14/Editing/trending.aspx" />
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey14/Reporting/CreateFactTables.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
  <MenuItems SurveyID="15">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey4/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey15/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey15/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey15/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey15/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey15/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey15/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey15/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey15/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey15/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey15/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey15/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey15/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey15/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey15/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Trending" NavigateUrl="~/Workflow/Survey15/Editing/trending.aspx" />
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey15/Reporting/CreateFactTables.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
   <MenuItems SurveyID="16">
    <Item Text="Home" NavigateUrl="~/workflow/default.aspx" />
    <Item Text="Design" NavigateUrl="">
      <!--<Item Text="Survey" NavigateUrl="~/Workflow/Survey4/Design/Survey.aspx">-->
      <Item Text="Survey" NavigateUrl="">
        <Item Text="Import Data Dictionary" NavigateUrl="~/Workflow/Survey16/Design/ImportDataDictionary.aspx" />
        <Item Text="Import Form Layout" NavigateUrl="~/Workflow/Survey16/Design/Importflayout.aspx" />
      </Item>
      <Item Text="Forms" NavigateUrl="~/Workflow/Survey16/Design/Forms.aspx" />
      <Item Text="Items" NavigateUrl="~/Workflow/Survey16/Design/Items.aspx" />
      <Item Text="Status" NavigateUrl="~/Workflow/Survey16/Design/Status.aspx" />
      <Item Text="Initialize" NavigateUrl="">
        <Item Text="Date Series Maintenance" NavigateUrl="~/Workflow/Survey16/Design/Initialize.aspx" />
      </Item>
    </Item>
    <Item Text="Collection" NavigateUrl="">
      <Item Text="Format" NavigateUrl="~/Workflow/Survey16/Collection/Format.aspx" />
      <Item Text="Validate" NavigateUrl="~/Workflow/Survey16/Collection/Validate.aspx" />
      <Item Text="Import" NavigateUrl="~/Workflow/Survey16/Collection/Import.aspx" />
      <Item Text="Batch Process" NavigateUrl="~/Workflow/Survey16/Collection/BatchProcess.aspx" />
    </Item>
    <Item Text="Editing" NavigateUrl="">
      <Item Text="Corrections" NavigateUrl="~/Workflow/Survey16/Editing/Corrections.aspx" />
      <Item Text="Sub Total Validation" NavigateUrl="~/Workflow/Survey16/Editing/SubTotalValidate.aspx" />
      <Item Text="Update MOR" NavigateUrl="~/Workflow/Survey16/Editing/UpdateMOR.aspx" />
      <Item Text="Delete Entire Workbook" NavigateUrl="~/Workflow/Survey16/Editing/DeleteEntireWorkbook.aspx" />
    </Item>
    <Item Text="Analysis" NavigateUrl="">
      <Item Text="Trending" NavigateUrl="~/Workflow/Survey16/Editing/trending.aspx" />
    </Item>
    <Item Text="Reporting" NavigateUrl="">
      <Item Text="Create Fact Tables" NavigateURL="~/Workflow/Survey16/Reporting/CreateFactTables.aspx" />
    </Item>
    <Item Text="Administration" NavigateUrl="">
      <Item Text="ID Lookups" NavigateUrl="~/utilities/idlookups.aspx"  Target="_blank" />
      <Item NavigateUrl="~/Admin/default.aspx" Text="Site Administration"  Target="_blank" />
    </Item>
    <Item NavigateURL="~/auth/logout.aspx" Text="Logout" />
  </MenuItems>
</Menu>
